 .container {
     text-align: center;
 }

 .calculator {
     display: inline-block;
     background-color: #c6c4c4;
     border: 4px solid black;
     padding: 32px;
     border-radius: 38px;
     box-shadow: 0px 8px 16px #807c7c;
     font-family: 'Courier New', Courier, monospace;
 }

 .btnTable {
     margin: auto;
 }

 #screen {
     width: 362px;
     height: 49px;
     margin: 0px;
     font-size: 30px;
     margin-bottom: 14px;
     border-radius: 12px;
     text-align: left;
 }

 .clearBtn {
     background-color: rgb(255, 42, 42);
     margin-left: 4px;
     font-size: 31px;
     width: 62px;
     border-radius: 15px;
     padding: 12px;
     height: 59px;
     position: relative;
 }

 button {
     font-size: 24px;
     width: 81px;
     padding: 5px;
     height: 50px;
     margin: 1px;
     color: rgb(255, 255, 255);
     background-color: rgb(160, 160, 160);
     border-radius: 8px;
     text-decoration: none;
     border: none;
 }
 button:hover{
     background-color: #f1f1f1;
     color: black;
 }
